{% extends "github/__base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="shortcut icon" type="image/png" href="{% static 'github/jasmine-2.1.3/jasmine_favicon.png' %}jasmine_favicon.png">
<link rel="stylesheet" href="{% static 'github/jasmine-2.1.3/jasmine.css' %}">

<script src="{% static 'github/jasmine-2.1.3/jasmine.js' %}"></script>
<script src="{% static 'github/jasmine-2.1.3/jasmine-html.js' %}"></script>
<script src="{% static 'github/jasmine-2.1.3/boot.js' %}"></script>
<script src="https://code.angularjs.org/1.3.5/angular-mocks.js"></script>


<!-- include spec files here... -->
    <script src="{% static 'github/js/compareController-tests.js' %}"></script>

{% endblock %}

{% block content %}

<p>Surely there are more tests to write.  However, here are a couple Jasmine tests outlining some cool stuff about angular:</p>
<ul>
    <li>Tests Removing a Repo - Tests a ui function with out the ui.  Pretty cool.</li>
    <li>After the repo is removed, it tests ajax requests with a spoofed ajax response.  Also pretty cool.</li>
    <li>Tests updating a ui element which is spoofed with the new data.  So cool.</li>
    <li>Tests adding a new repo, with a spoofed ajax request.  Because where you delete, you must create.</li>
</ul>
<div id="jasmine">

</div>
{% endblock %}
